.hero {
  $_this: &;
  
  position: relative;
  margin-top: -$header-height-mobile;
  border-bottom: 4px solid $main-blue;

  @include for-tablet-up {
    margin-top: -$header-height;
  }

  &__bg-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  
    @include for-laptop-up {
      min-height: 800px;
    }
  }

  &__wrapper {
    padding-top: $header-height-mobile + 50;
    padding-bottom: 46px;
    position: relative;
  
    @include for-tablet-up {
      max-width: 672px;
    }
    
    @include for-laptop-up {
      max-width: 1200px;
      min-height: 800px;
    }
  }
  
  &__slider {
    @include for-tablet-up {
      width: 65%;
      margin-left: auto;
      margin-right: initial;
    }
  
    @include for-laptop-up {
      width: 58%;
    }
  }
  
  &__slider-wrapper {
    box-sizing: border-box;
  }
  
  &__headline {
  
    @include for-laptop-up {
      margin-top: 170px;
    }
  }

  &__text {
    font-size: 16px;
    font-weight: 100;
    line-height: 1.2;
    margin-top: 24px;
    text-shadow: 0 1px 3px rgba(25, 22, 24, 0.36);
  
    @include for-laptop-up {
      font-size: 18px;
    }
  }
  
  &__action {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 24px;
    row-gap: 18px;
  
    @include for-laptop-up {
      flex-direction: row;
      column-gap: 40px;
      margin-top: 38px;
    }
  }
  
  &__available {
    display: flex;
    align-items: center;
    margin-top: 24px;
  
    @include for-laptop-up {
      margin-top: 50px;
    }
  }
  
  &__available-text {
    font-weight: 100;
    font-size: 18px;
    margin-right: 6px;
  }
  
  &__available-link {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    border-radius: 50%;
    width: 54px;
    height: 54px;
    margin-left: 14px;
    
    &:hover {
      
      #{$_this}__available-icon {
        color: $main-blue;
      }
    }
  }
  
  &__available-icon {
    width: 26px;
    height: 26px;
    color: #ffffff;
    transition: color .225s ease;
  }
  
  &__pagination {
    display: grid;
    grid-template-columns: repeat(auto-fit, 16px);
    justify-content: center;
    column-gap: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 52px;
  }
  
  &__pagination-bullet {
    display: block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    cursor: pointer;
    background-color: transparent;
    border: 3px solid transparent;
    box-shadow: inset 0 0 0 1px #ffffff;
    transition: border-color 0.225s ease,
                box-shadow 0.225s ease,
                background-color 0.225s ease;
    
    @include hover-supported {
      background-color: rgba($main-blue, .5);
      box-shadow: none;
    }
    
    &.is-active {
      background-color: $main-blue;
      border-color: $main-blue;
      box-shadow: none;
    }
  }
  
  &__slider-button-group {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 43px;
  
    @media (min-width: 1400px) {
      position: absolute;
      top: 50%;
      left: -85px;
      transform: translateY(-50%);
      width: calc(100% + 170px);
      justify-content: space-between;
      margin-top: initial;
    }
  }
  
  &__slider-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-color: $main-blue;
    margin-left: 15px;
    margin-right: 15px;
    transition: background-color 0.225s ease;
  
    @include hover-supported {
      background-color: rgba($main-blue, .5);
    }
    
    &[disabled] {
      background-color: rgba($main-blue, .2);
      
      #{$_this}__slider-arrow {
        color: #ffffff;
      }
    }
  }
  
  &__slider-arrow {
    width: 18px;
    height: 18px;
    color: #414042;
    
    &--left {
      transform: rotate(180deg);
    }
  }
}
