// typography
$base-font-family: 'Lato', Arial, Helvetica Neue, Helvetica, sans-serif;
$secondary-font-family: 'Droid Sans', Arial, Helvetica Neue, Helvetica, sans-serif;
$base-font-size: 16px;

// colors
$main-blue: #4bcaff;
$transparent-black: rgba(7, 7, 7, .9);

// statics
$path-to-static: '/assets/images/';
$path-to-static-fonts: '/assets/fonts/';

// header height
$header-height: 100px;
$header-height-mobile: 80px;

// wrapper widths
$medium-widths: 640px;
$full-widths: 1200px;
